:root {
    --ttkd-red: #E34742;
    --default-white: #ffffff;
    --default-black: #000000;
    --dark-gray: #1f1f1f;
    --ttkd-dark-red: #e22d27;
}

body {
    background-color: var(--default-white);
    color: var(--default-white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1f1f1f;
    font-size: 60px;
}



#logo-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#itf-logo {
    margin: 20px;
    height: 150px;
    width: 150px;
}



#pattern-grid-container {
    /* border: 3px solid var(--dark-gray); */
    border-radius: 10px;
    width: 900px;
    justify-content: center;
    align-items: center;
    display: flex;

}

.pattern-grid {
    margin: 10px;
    color: #1f1f1f;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    align-items: center;
    justify-content: center;
    flex-direction: row;


    &.size-3x3 {
        grid-template-columns: repeat(3, 130px);
    }

    &.size-4x4 {
        grid-template-columns: repeat(4, 150px);
    }

    &.size-5x5 {
        grid-template-columns: repeat(5, 150px);
    }



}

#refresh-btn {
    margin-left: 10px;
    border-radius: 10px;
    padding: 5px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}

#container-header {
    font-size: 65px;
}

#dropdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 10px;
}

#select-belt,
#select-grid {
    appearance: none;
    margin: 10px;
    background-color: var(--dark-gray);
    color: var(--default-white);
    width: 70px;
    height: 35px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#select-belt:hover {
    cursor: pointer;
}

.button-toggle {

    border: 5px solid var(--ttkd-red);
    margin: 5px;
    border-radius: 10px;
    background-color: var(--ttkd-red);
    color: var(--default-white);
    width: 100px;
    height: 100px;
    font-size: 20px;

    &.true {
        background-color: var(--ttkd-red);
        border: 5px solid var(--ttkd-red);
        color: var(--ttkd-red);
    }

    &.false {
        background-color: #e22d27;
    }
}

button:hover {
    cursor: pointer;
}
